:root {
    font-family: Baskerville, Baskerville New Face, Georgia, serif;
}

html, body {
    margin: 0;
}

.container {
  margin: 0;
  height: 100%;
  text-align: center;
}

button {
    border-radius: 8px;
    padding: 0.2em 1.2em;
}

input {
    padding: 0.2em;
}

input, button {
    font-family: inherit;
    border: 1px solid black;
    font-size: 1em;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
}

button:active {
    color: #ffffff;
    background-color: #000000;
}

hr {
    height: 1px;
    width: 25%;
}

p {
    line-height: 1.8;
}